.InputWrapper {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Input {
    margin-top: 12.5px;
    font-size: 1.06em;
    background: rgba(255, 255, 255, 1e-06);
    width: 743px;
    padding: 8px 16px;
    border: 0;
    border-bottom: 1px solid rgba(185, 180, 196, 0.3);
    outline: none;
}

.Input:hover {
    background: rgb(248, 248, 248);
}